main{
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: url(/images/pexels-photo-164446.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-form{
    border-radius: 20px;
    width: 400px;
    height: 350px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: rgba(92, 92, 92, 0.4);
}

.container-form h1{
    font-size: 40px;
    color: #ffffff;
}
.container-form span{
    font-size: 20px;
    color: #ffffff;
}
.container-form a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.container-form input{
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    padding: 10px;
}

.container-form input[type="submit"]{
    width: 90px;
    border: none;
    cursor: pointer;
}

.container-form input[type="submit"]:hover{
    background-color: #a7adab;
}

.container-form input:focus{
    outline: none;
}
.container-form a:hover{
    color: #91c4b3;
}
