body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
header{
    background-color:#e0d5d5;
}
nav{
    background-color: azure;
}
main{
    background-color: bisque;
    font-size: 20px;
}
footer{
    background-color: blueviolet;
}
li{
    display: inline;
    width: 10px;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #e26060;
}
p{
    line-height: 40px;
}